<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="mat-d">
      <div class="sidenav-content">
        <div class="d-flex align-items-center justify-content-center">
          <button class="compose" (click)="openDialog()">Compose Mail</button>
        </div>
        <div class="container">
          <div class="list">
            <h4>FOLDERS</h4>
            <ul>
              <li>
                <div class="d-flex align-items-center" style="white-space:nowrap;">
                  <div class="d-flex align-items-center">
                    <div>
                      <mat-icon>move_to_inbox</mat-icon>
                    </div>
                    <div>
                      <a class="routeActive" routerLink="recieved" [routerLinkActive]="['active']">Inbox</a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-end" style="width:100%">
                    <span class="inbox" style="background: #ffd400;">{{count}}</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center" style="white-space:nowrap;">
                  <div class="d-flex align-items-center">
                    <div>
                      <mat-icon> email</mat-icon>
                    </div>
                    <div>
                      <a class="routeActive" routerLink="send" [routerLinkActive]="['active']">Send Mail</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center" style="white-space:nowrap;">
                  <div class="d-flex align-items-center">
                    <div>
                      <i class="fa fa-certificate" aria-hidden="true"></i>
                    </div>
                    <div>Important</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <div>
                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </div>
                    <div>Drafts</div>
                  </div>
                  <div class="d-flex align-items-center justify-content-end" style="width:100%">
                    <span class="inbox" style="background: red;">2</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <div>
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </div>
                    <div>Trash</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="list2">
            <h4>CATEGORIES</h4>
            <ul>
              <li>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <span class="circle rounded-circle" style="background-color:rgb(48, 219, 162)"></span>
                    </div>
                    <div>Trash</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <span class="circle rounded-circle" style="background-color:red"></span>
                    </div>
                    <div>Documents</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <span class="circle rounded-circle" style="background-color:rgb(22, 115, 221)"></span>
                    </div>
                    <div>Social</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <span class="circle rounded-circle" style="background-color:rgb(22, 181, 221)"></span>
                    </div>
                    <div>Advertising</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <span class="circle rounded-circle" style="background-color:orange"></span>
                    </div>
                    <div>Clients</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="labels">
            <h4>LABELS</h4>
            <div class="row">
              <div class="col-md-6">
                <button>
                  <mat-icon style="font-size: 14px;">loyalty</mat-icon>
                  Family
                </button>
              </div>
              <div class="col-md-6">
                <button>
                  <mat-icon style="font-size: 14px;">loyalty</mat-icon>
                  Work

                </button>
              </div>
              <div class="col-md-6">
                <button>
                  <mat-icon style="font-size: 14px;">loyalty</mat-icon>
                  Home
                </button>
              </div>
              <div class="col-md-6">
                <button>
                  <mat-icon style="font-size: 14px;">loyalty</mat-icon>
                  Children
                </button>
              </div>
              <div class="col-md-6">
                <button>
                  <mat-icon style="font-size: 14px;">loyalty</mat-icon>
                  Holidays
                </button>
              </div>
              <div class="col-md-6">
                <button>
                  <mat-icon style="font-size: 14px;">loyalty</mat-icon>
                  Music
                </button>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>