<mat-drawer-container class="example-container" opened>
  <mat-drawer  mode="side" [disableClose]="false" #sidebar [opened]="sideBarOpen">
    <div class="user mt-3 mb-3 ml-5 pl-3">
      <img  src="../../assets/images/download.png" class="rounded-circle ml-4" width="50px" height="50px">
      <h3 class="text-light mb-0">David Williams</h3>
      <small class="text-light">Art Director</small>
    </div>
    <ul class="list-group">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="d-flex align-items-center">
              <i class="fa fa-th-large" aria-hidden="true"></i> <span class="ml-2">Dashboards</span>   
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-list>
     
    </mat-list>
    
      <li class="list-group-item m-0" mat-list-item>
        <div class="d-flex align-items-center">
          <i class="fa fa-diamond" aria-hidden="true"></i> <span class="ml-2">Layouts</span>   
        </div>
        </li>
      
    <mat-accordion>
      <mat-expansion-panel  (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="d-flex align-items-center">
              <i class="fa fa-bar-chart" aria-hidden="true"></i> <span class="ml-2">Graphs</span>   
            </div>
           
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="d-flex align-items-center">
              <i class="fa fa-envelope" aria-hidden="true"></i>  <span class="ml-2">Mailbox</span> 
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item >
            Inbox
        </a>
        <a mat-list-item>
           Email View 
        </a>
        <a mat-list-item>
            Compose Email
        </a>
        <a mat-list-item>
            Email Templates
        </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <li class="list-group-item m-0">
      <div class="d-flex align-items-center">
        <i class="fa fa-pie-chart" aria-hidden="true"></i> <span class="ml-2">Metrics</span>   
      </div>
      </li>
      <li class="list-group-item m-0">
        <div class="d-flex align-items-center">
          <i class="fa fa-hourglass-half" aria-hidden="true"></i> <span class="ml-2">Widgets</span>   
        </div>
        </li>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex align-items-center">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span class="ml-2">Forums</span>   
                </div>
               
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
        <li class="list-group-item m-0">
          <div class="d-flex align-items-center">
            <i class="fa fa-television" aria-hidden="true"></i> <span class="ml-2">App Views</span>   
          </div>
          </li>
  </ul>
  </mat-drawer>
  <mat-drawer-content>
    <app-header  (toggleSidebarForMe)="sideBarToggler()" ></app-header>
   <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
